<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- <div class="createDebate" style="width: 40%; margin: auto; margin-top: 40px;">

      <form action="" [formGroup]="debateService.debateForm">
          <input type="text" name="" id="" placeholder="title" class="form-control" #title>
          <input type="text" name="" id="" placeholder="description" class="form-control" #description>
          <button type="submit" class="btn btn-dark" (click)="debateService.createDebate(title.value, description.value)">Create</button>
        </form>
    </div> -->
        
    <div class="darkBox">
        
        <div class="boxNavigation">
            <ul>
                <li routerLink="popularDebate">Populars</li>
                <li routerLink="recentDebate" >Recents</li>
                <li>My Contributions</li>
            </ul>
        </div>
        </div>
      <div class="row">
          <div class="popular main">
              <h2>Popular Debates</h2>
              <div class="inner" >
                <div class="cards" *ngFor="let debate of debateService.popularDebates" (click)="debateContent(this.debate)">
                    <mat-card class="debateCard" >
                        <mat-card-title class="title">{{debate.title}}</mat-card-title>
                        <!-- <img mat-card-image src="assets/images/download.jpg" class="debateImg"> -->
                        <mat-card-content class="description">{{debate.description}} </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                            <i class="fa fa-thumbs-o-up ms-2 likes" aria-hidden="true" ></i> {{debate.likes}}
                            <span class="contribution me-4" style="float: right;">Contributions: {{debate.contributions}}</span>
                        </mat-card-actions>
                    </mat-card>
                </div>
              </div>
          </div>
      </div>

      <div class="row mt-5">
        <div class="recent main">
            <h2>Recently Added Debates</h2>
            <div class="inner">
              <div class="cards" *ngFor="let debate of debateService.recentDebates" (click)="debateContent(this.debate)">
                  <mat-card class="debateCard">
                      <mat-card-title class="title">{{debate.title}}</mat-card-title>
                      <!-- <img mat-card-image src="assets/images/download.jpg" class="debateImg"> -->
                      <mat-card-content class="description">{{debate.description}} </mat-card-content>
                        <mat-divider inset></mat-divider>
                        <mat-card-actions>
                            <i class="fa fa-thumbs-o-up ms-2 likes" aria-hidden="true" ></i> {{debate.likes}}
                            <span class="contribution me-4" style="float: right;">Contributions: {{debate.contributions}}</span>
                        </mat-card-actions>
                  </mat-card>
              </div>
            </div>
        </div>
    </div>


    <!-- <div class="row">
        <div class="main">
            <h1>Debates</h1>
            <div class="inner">
                <div class="cards" *ngFor="let debate of popularDebates">
                    <mat-card class="debateCard">
                        <mat-card-title>{{debate.title}}</mat-card-title>
                        <img mat-card-image src="assets/images/download.jpg" class="debateImg">
                        <mat-card-content>{{debate.description}} </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="columns right">        
        <div class="create">
            <h1>Create a new Debate</h1>
            <form action="" class="createDebateForm">
                
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" placeholder="Title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" placeholder="Description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ">Create</button>
                </div>
            </form>
        </div>
    </div> -->
